<h2>Preventing XSS in ASP.NET Core</h2>

<ul>
    <li><a asp-controller="Raw" asp-action="Index">@@Html.Raw()</a></li>
    <li><a asp-controller="Encoding" asp-action="Index">Encoding</a></li>
    <li><a asp-controller="Encoding" asp-action="Encoder">Encoding (in Controller)</a></li>
</ul>